<%- include("../partials/admin-navbar.ejs") %>







  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">Categories</span>
    </h4>

    <!-- <form action="/adminLogin/addMainCategory" >  -->
    <button type="button" class="btn btn-primary col-2 mb-2 " data-bs-toggle="modal" data-bs-target="#exampleModal"
      data-bs-whatever="@mdo" style="margin-left: 880px;">Add Category</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/admin/addCategory" method="post"  enctype="multipart/form-data">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Category Name:</label>
                <input type="text" name="name" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">

                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Image:</label>
                  <input type="file" name="imageUrl" class="form-control" id="recipient-name"> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add</button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    <br>

    <!-- </form> -->

<div class="row">

    <% subCategory.forEach(function(y) { %>
      <div class="col-md-6 col-xl-4 mt-3">
        <div class="card bg-dark border-0 text-white">


          <img class="card-img" style="height: 250px;width: 100%;" src="/<%= y.imageUrl %>"alt="Card image" />
          <div class="card-img-overlay">
            <h5 class="card-title text-primary "><%= y.category_id.category %> </h5>
            <h5 class="card-title text-secondary "><%= y.subCategory %> </h5>
             
          </div>

        </div>
      </div>
      <% }) %>
  </div>

  </div>


  </div>
  </div>
  </div>
  </div>
  <%- include("../partials/admin-footer.ejs") %>