<%- include("../partials/admin-navbar.ejs") %>

<button type="button" class="btn btn-primary col-2 mt-3 " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="margin-left: 880px;">Add Banner</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Banner</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/admin/add-banner" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" name="title" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Description</label>
            <input type="text" name="description" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Image:</label>
            <input type="file" name="image" class="form-control" id="recipient-name">
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Banner</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card" >
<h5 class="card-header"><strong>Show Banners</strong></h5>
<div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Index</th>
          <th>Title</th>
          <th>Description</th>
          <th>Image</th>
      
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <% banner.forEach(function(x) { %>
          <tr>
            <td><%= index++%></td>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i><strong><%= x.title %></strong></td>
            <td><%= x.description %></td>
            <td><img src="/<%= x.image %>" style="height:60px;width:60px;"> </td>

            <td>
              
              <button type="button" class="btn btn-secondary" style="width: 100px; height:35px;" data-bs-toggle="modal" data-bs-target="#exampleModal1" data-bs-whatever="@mdo" >Edit</button> 
               
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Edit Banner</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="/admin/updateBanner/<%= x._id %>" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title:</label>
              <input type="text" name="title" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Description</label>
              <input type="text" name="description" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Image:</label>
              <input type="file" name="image" class="form-control" id="recipient-name">
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
           
 
            
               <form action="/admin/deleteBanner/<%=x._id %>" method="post" enctype="multipart/form-data">
              <button type="submit" class="btn btn-danger" style="width: 100px; height:35px;">Delete</button> 
            </form>
              
            </td>
            
  
          </tr>
          <% }) %>
          
         
        
        
      </tbody>
    </table>
  </div>
</div>
  

<%- include("../partials/admin-footer.ejs") %>