<%- include("../partials/admin-navbar.ejs") %>

<button type="button" class="btn btn-primary col-2 mt-3 " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="margin-left: 880px;">Add Products</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Products</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/admin/add-product" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Product Name:</label>
            <input type="text" name="name" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Brand:</label>
            <input type="text" name="brand" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Price:</label>
            <input type="text" name="price" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Category:</label>
            <select class="form-control" name="category">
            <% category.forEach(function(x) { %>
              <% if(x.status == "active") { %>
              <option ><%= x.category %></option>
              <% } %>
              <% }) %>
            </select>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" name="description" id="message-text"></textarea>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Image:</label>
            <input type="file" name="image" class="form-control" id="recipient-name">
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add product</button>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card" >
<h5 class="card-header"><strong>Show Products</strong></h5>
<div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th>Index</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Price</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <% product.forEach(function(x) { %>
          <tr>
            <td><%= index++%></td>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i><strong><%= x.name%></strong></td>
            <td><%= x.brand%></td>
            <td><%= x.category%></td>
            <td><%= x.price%></td>
            <td><img src="/<%= x.image %>" style="height:60px;width:60px;"> </td>

            <td>
            <% if(x.status == "listed") { %>
              <form action="/admin/unlistProduct/<%=x._id %>" method="post" enctype="multipart/form-data">
              <button type="submit" class="btn btn-danger" style="width: 100px; height:35px;">Unlist</button> 
            </form>
           
            <% } else { %>
              <form action="/admin/listProduct/<%=x._id %>" method="post" enctype="multipart/form-data">
                <button type="submit" class="btn btn-secondary" style="width: 100px; height:35px;">List</button> 
              </form>
              
              
              <% } %>
              <form action="/admin/editProducts/<%=x._id %>" method="post">
              <button type="submit" class="btn btn-secondary" style="width: 100px; height:35px;" >Edit</button> 
            </form>
                         
            </td>
            
  
          </tr>
          <% }) %>
          
         
        
        
      </tbody>
    </table>
  </div>
</div>
<%- include("../partials/admin-footer.ejs") %>