<%- include("../partials/userHeader.ejs") %>
  

<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">
<link rel="stylesheet" href="/public/user/css/address.css">

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="osahan-account-page-left shadow-sm bg-white h-100">
                <div class="border-bottom p-4">
                    <div class="osahan-user text-center">
                        <div class="osahan-user-media">
                            <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="gurdeep singh osahan">
                            <div class="osahan-user-media-body">
                                <h6 class="mb-2"> <%=user.name%> <%=user.lastname%></h6>
                                <p class="mb-1"><% user.phone%></p>
                                <p><%=user.email%></p>
                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" href="#"><i class="icofont-ui-edit"></i> EDIT</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab" aria-controls="addresses" aria-selected="false"><i class="icofont-location-pin"></i> Addresses</a>
                    </li>
                </ul>
                <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab" aria-controls="addresses" aria-selected="false"><i class="icofont-location-pin"></i> Change Password</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 ">  
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade  active show" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Manage Addresses</h4>
                        <div class="row">
                            <% address.forEach(function(x){%>
                            <div class="col-md-6">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                              
                                <div class="bg-white card addresses-item mb-4 border border-secondary shadow">
                                    <div class="gold-members p-4">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i></div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Work</h6>
                                                <p><%= x.fullName%>, <%= x.houseName%>,<%= x.city%>, <%= x.state%>, <%= x.pincode%>, India, <%= x.phone%>
                                                </p>
                                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="" href="#"><i class="icofont-ui-edit"></i> EDIT</a> <a href="/deleteAddress/<%= x._id %>" class="text-danger" data-toggle="" ><i class="icofont-ui-delete"></i> DELETE</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                        </div>
                       
                        <div class="card card-body">
                            <button
                              type="button"
                              data-toggle="collapse"
                              data-target="#newAddress"
                              aria-expanded="false"
                              aria-controls="newAddress"
                            >
                              ADD NEW ADDRESS
                            </button>
                            <div class="collapse" id="newAddress">
                              <div class="card card-body mt-4">
                                <form
                                  action="/newAddress"
                                  class="mb-0"
                                  method="post"
                                >
                                  <div class="row mb-4">
                                    <div class="col">
                                      <div class="form-outline">
                                        <input
                                          type="text"
                                          id="form9Example1"
                                          name="fullName"
                                          class="form-control input-custom"
                                        />
                                        <label class="form-label" for="form9Example1"
                                          >Full name</label
                                        >
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-outline">
                                        <input
                                          type="text"
                                          id="form9Example2"
                                          name="houseName"
                                          class="form-control input-custom"
                                        />
                                        <label class="form-label" for="form9Example2"
                                          >House name / Office name</label
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mb-4">
                                    <div class="col">
                                      <div class="form-outline">
                                        <input
                                          type="text"
                                          id="form9Example3"
                                          name="city"
                                          class="form-control input-custom"
                                        />
                                        <label class="form-label" for="form9Example3"
                                          >City</label
                                        >
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-outline">
                                        <input
                                          type="text"
                                          id="form9Example4"
                                          name="state"
                                          class="form-control input-custom"
                                        />
                                        <label class="form-label" for="form9Example4"
                                          >State</label
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mb-4">
                                    <div class="col">
                                      <div class="form-outline">
                                        <input
                                          type="number"
                                          id="form9Example6"
                                          name="pincode"
                                          class="form-control input-custom"
                                        />
                                        <label class="form-label" for="form9Example6"
                                          >Pincode</label
                                        >
                                      </div>
                                    </div>
                                    <div class="col">
                                      <div class="form-outline">
                                        <input
                                          type="number"
                                          id="typeEmail"
                                          name="phone"
                                          class="form-control input-custom"
                                        />
                                        <label class="form-label" for="typeEmail"
                                          >Phone</label
                                        >
                                      </div>
                                    </div>
                             
            
                                  <div class="float-end">
                                    <!-- Submit button -->
                                    <button
                                      type="submit"
                                      class="btn btn-primary btn-rounded"
                                      style="background-color: #0062cc"
                                    >
                                      add address
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


    
<%- include("../partials/userFooter.ejs") %>