<%- include("../partials/userHeader.ejs") %>

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 300px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">My Orders</h4>
            <div class="d-inline-flex">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">My Orders</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


        <div class="container ">
         
                <div class="row" id="orderCard" style="display:contents;">
                    <% orders.forEach(function(order){ %>
                        <% order.products.forEach(function(x){ %>
                            <div class="card mb-3" >
                                <div class="row g-0">
                                    <div class="col-5 col-md-2">
                                        <img class="card-img card-img-left"
                                            src="/<%= x.productId.image  %> " alt="Card image"
                                            style="height: 212px; width: 173px; object-fit: cover" />
                                    </div>
                                    <br>
                                    <div class="col-6 col-md-4">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= x.productId.name  %> 
                                            </h5>
                                            <strong class="card-text">Price :<%= x.productId.price  %>
                                            </strong><br />
                                            <strong class="card-text">Qty : <%= x.quantity %>
                                            </strong><br />
                                            <strong class="card-text">Total : <%= x.total %>
                                            </strong>
                                            <p class="card-text">PAYMENT: <%= order.paymentMethod %>
                                            </p>
                                            <% if(order.orderStatus !='OrderPlaced' ){ %>
                                                <p class="card-text">
                                                    <small class="text-muted">
                                                        <%= order.orderStatus %> Ordered Date :
                                                            <%=moment(x.productId.date).format("LL") %>
                                                    </small>
                                                </p>
                                                <% } %>
                                                    <% if(order.orderStatus !="Cancelled" && order.orderStatus
                                                        !="Delivered" ){ %>
                                                        <p class="card-text">
                                                            <small class="text-muted">Expected delivery Date :
                                                                <%=moment(x.productId.date).format("LL")
                                                                    %>
                                                            </small>
                                                        </p>
                                                        <% } %>
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-4 m-2 d-flex align-items-center justify-content-center  ">
                                        <strong>Order status : </strong>
                                        <% if(x.orderStatus=="Packed" ){ %>
                                            <span class="badge badge-warning text-white me-1"> <%= x.orderStatus  %></span>
                                            <% }else if(x.orderStatus=="Shipped" ){ %>
                                                <span class="badge badge-info me-1"> <%= x.orderStatus  %></span>
                                                <% }else if(x.orderStatus=="Delivered" ){ %>
                                                    <span class="badge badge-success me-1"> <%= x.orderStatus  %></span>
                                                    <% }else if(x.orderStatus=="Cancelled" ){ %>
                                                        <span class="badge badge-danger me-1"> <%= x.orderStatus  %></span>
                                                        <% }else{ %>
                                                            <span class="badge badge-secondary me-1"> <%= x.orderStatus  %></span>
                                                            <% } %>
                                    </div>
                                    <div class="col-md-1 d-flex align-items-center justify-content-center-2">
                                        <% if(x.orderStatus=="Delivered" ) {%>
                                            <div><a href="/userInvoice/<%= order._id %>/<%= x._id %>"><button class="btn btn-outline-success m-2">bill</button></a></div> 
                                            <% }else if (x.orderStatus=="Cancelled" ){ %>
                                                <h6>Order Cancelled</h6>
                                                <%} else{%>
                                                    <button onclick="cancelorder('<%= order._id %>','<%= x.productId._id %>')" class="btn btn-danger">Cancel
                                                </button></li>
                                                    <% }%>
                                                    
                                                    
                                                    </div>
                                </div>
                                <div class="  active progress  " style="margin-bottom: 14px;">
                                    <% if(x.orderStatus=="Packed" ){ %>
                                        <div class="progress-bar-striped bg-warning" style="width:30%">
                                            packed
                                        </div>
                                        <%}else if(x.orderStatus=="Shipped" ) {%>
                                            <div class="progress-bar-striped bg-info" style="width:60%">
                                                shipped
                                            </div>
                                            <%}else if(x.orderStatus=="Delivered" ) {%>
                                                <div class="progress-bar bg-success" style="width:100%">
                                                    Delivered
                                                </div>
                                                <%}else if(x.orderStatus=="Cancelled" ) {%>
                                                    <div class="progress-bar bg-danger" style="width:100%">
                                                        Cancelled
                                                    </div>
                                                    <%}else{%>
                                                        <div class="progress-bar-striped bg-secondary "
                                                            style="width:10% marg" >
                                                            waiting
                                                        </div>
                                                        <% } %>
                                </div>
                            </div>
                            <% }) %>
                                <% }) %>
                </div>
            

        </div>
 
   <script>
               
          
    
                function cancelorder(id , productId ) {
                    if(confirm('Do you want to cancel the order ? You cannot revert back once you cancelled the order')){
                        
                        $.ajax({
                      url: "/cancelOrder",
                      data: {
                        id,
                        productId,
                       
                      },
                      method: "post",
                      success: (response) => {
                          if (response.status) {
                              Swal.fire({
                                  icon: "success",
                                  title: "Order cancelled ",
                                  text: "order cancelled",
                                });
                            window.location.reload()
                        } 
                      },
                    });
                    } 
                }
            
            </script>
            
            <script>
                $(document).ready(function () {
                    console.log(stat)
                    if (stat == 'Cancelled') {
                        $("p.OrderStatus").addClass("text-danger");
                    }
                });
            </script>
            

    <%- include("../partials/userFooter.ejs") %>