<%- include("../partials/userHeader.ejs") %>
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 300px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">My Shop</h4>
            <div class="d-inline-flex">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">My Shop</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="category.html">Category</a></li>
                        
                    </ol>
                </nav>
            </div>
        </div>
    </div>

<div class="container-fluid team ">
    <div class="row">
        <div class="col-12 col-sm-2" style="background-color: #e9ecef;" >
            <div class="card bg-light mb-3"  >
                <div class="card-header bg-secondary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <% category.forEach(function(x) { %>
                <ul class="list-group category_block text-center">
                    <li class="list-group-item "><a href="shop?category=<%=x.category%>"><%=x.category %></a></li>
                    
                </ul>
                <%})%>
            </div>
            <div class="card bg-light">
                <div class="card-header bg-success text-white text-uppercase">Last product</div>
                <div class="card-body">
                    <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff" />
                    <h5 class="card-title"><br>Product title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="bloc_left_price">99.00 $</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <% products.forEach(function(x) { %>
                    <% if(x.status == "listed") { %>
                <div class="col-lg-3 col-md-6 mb-5 p-3">
                    <div class="card border-0 bg-secondary text-center text-white">
                        <img class="card-img-top" src="/<%= x.image %>" alt="" style="height:280px;">
                        <div class="card-social d-flex align-items-center justify-content-center">
                            <button onclick ="addtowishlist('<%= x._id %>','<%=x.name%>')" class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;"><i class="fa fa-heart"></i></button>
                            <a onclick="addtocart('<%= x._id%>')" class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;"><i class="fas fa-shopping-cart"></i></a>
     
                        </div>
                        <div class="card-body bg-dark" style=" height: 70px;">  
                            <a href="/product-details/<%= x._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6 text-white text-decoration-none">
                                <%= x.name %> 
                            </a>
                            <div>
                            <span class="stext-105 cl3 text-primary">
                                Rs : <%= x.price %>
                            </span>
                        </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <% }) %>
               

                
                    
           
            </div>
        </div>
    </div>
    <section class="d-flex justify-content-center mt-2">
        <% if(hasPreviousPage){ %>
          <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black" class="text-center"
            href="/shop?page=<%= PreviousPage %>"><i class="fa fa-chevron-left"
              aria-hidden="true"></i></a>
          <% } %>
            <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black; border: 1px solid black;"
              href="/shop?page=<%= page %>">
              <%= page %>
            </a>
            <% if(hasNextPage) { %>
              <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black;"
                href="/shop?page=<%=  page+1 %>"><i class="fa fa-chevron-right"
                  aria-hidden="true"></i></a>
              <% } %>
      </section>
</div>
<%- include("../partials/userFooter.ejs") %>
